Repository SoftwareEngineeringDreamTeam/DPG-PoC, pull requests merged in 2022-12, with the labels that each got.

#33 Dev
  .gitignore
  README.md
  changelog.md
  compile.py
  requirements.txt
  setup.py
  src/__init__.py
  src/app.py
  src/axis.py
  src/data.py
  src/utils.py
  tests/unit_tests/app_test.py
  tests/unit_tests/axis_test.py
  tests/unit_tests/data_test.py
  tests/unit_tests/utils_test.py
Labels: 0.4.0

#35 fix pylint
  .github/workflows/pylint.yml
  app.py
  compile.py
  requirements.txt
  setup.py
  src/__init__.py
  src/app.py
  src/axis.py
  src/data.py
  src/utils.py
  tests/unit_tests/app_test.py
  tests/unit_tests/axis_test.py
  tests/unit_tests/data_test.py
  tests/unit_tests/utils_test.py
Labels: bug

#46 add test workflow, change run directory, fix imports
  .github/workflows/pytest.yml
  README.md
  changelog.md
  run.py
  setup.py
  src/app.py
  src/axis.py
  src/data.py
  src/events.py
  src/metrics.py
  src/plot.py
  src/utils.py
  tests/unit_tests/metrics_test.py
Labels: Metrics

#76 Fix auc update
  .github/workflows/cd.yml
  changelog.md
  setup.py
  src/app.py
  src/axis.py
  src/data.py
  src/plot.py
Labels: bug, Data

#73 fix saving plot to png
  src/plot.py
Labels: bug, Plot
