Repository SoftwareEngineeringDreamTeam/DPG-PoC, pull requests merged in 2022-11, with the labels that each got.

#14 8 create the main app object
  README.md
  app.py
Labels: Axis, App

#15 Update main branch with dev
  .gitignore
  app.py
Labels: App

#18 add empty data class
  app.py
  data.py
Labels: Data

#21 Update main branch with dev
  app.py
  data.py
Labels: Data, Point

#24 Saving the plots
  README.md
  changelog.md
  setup.py
  src/app.py
  src/axis.py
Labels: experimentation, Axis
